/* for PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* for tablet & mobile */
@media (max-width: 991.98px) {
  /* hide navbar */
  .navbar {
    display: none;
  }
  /* chuyen logo ve giua */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* can lai vi tri menu icon*/
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* ở đk bình thường an lop phu di */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* kiểm tra menu checkbox có được checked ko? nếu checked thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    padding: 60px;
    position: fixed;
    background: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  /* kiểm tra menu checkbox nếu đc checked  */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    padding: 30px;
    display: block;
    font-size: 2rem;
    text-align: left;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }
}

/* for tablet */
@media (min-width: 768px) and (max-width: 991.98) {
}

/* for mobile */
@media (max-width: 767.98px) {
}
